<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- عطر أيقونة 
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/perfume-icon.png" width="30" height="30" class="me-2" alt="Perfume" />
      EcomApp
    </a>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav align-items-center">
        <ng-container *ngIf="!isLoggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/auth/register">Register</a>
          </li>
        </ng-container>

        <ng-template #loggedIn>
          <li class="nav-item me-3 text-white">
            👋 Welcome, {{ username }}
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav> -->
